{{> head }}
{{> navbar}}

<div class="col">
  <div class="col-8">
    <h1 class="color: red;">Mr Robot</h1>
  </div>
  <div class="col-4">
    <img src="assets/img/mr-robot.jpg" class="img-thmbnail">
  </div>
</div>

{{> footer }}
